@font-face {
    font-family: 'Raleway-Medium';
    src: url(../fonts/Raleway-Medium.ttf);
    font-size: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url(../fonts/Raleway-Bold.ttf);
    font-size: normal;
    font-weight: normal;
}

h1{
    font-family: 'Raleway-Bold';
    font-size: 24px
}

h2{
    font-family: 'Raleway-Bold';
    font-size: 20px;
    margin-bottom: 25px;
}

h3{
    font-family: 'Raleway-Bold';
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 18px;
}

p{
    margin-top: -15px;
    margin-bottom: 20px;
    font-size: 14px;
}

a{
    text-decoration:none;
    color: black;
}

body{
    max-width: 1510px;
    margin: auto;
    font-family: 'Raleway-Medium';
}

main{
    max-width: 1460px;
	padding:20px;
    margin: auto;
    margin-left: 40px;
}

/*--Form parameters--*/
form{
    width: fit-content;
    background-color: #F2F2F2;
    border-radius: 12px;
}

input[type=search]{
    height: 46px;
    width: 250px;
    border: 1px solid #F2F2F2; 
    padding-left: 20px;
    color: #000;
    font-family: 'Raleway-Bold';
    font-size: 16px;
}

::placeholder{
    color: #000;
    font-family: 'Raleway-Bold';
    font-size: 16px;
}

.no-outline:focus{
    outline: none;
}

form button{
    background-color: #0065FC;
    width: fit-content;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -5px;
    border: none;
    border-radius: 0px 12px 12px 0px;
    font-family: 'Raleway-Bold';
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}
/*-----------------*/

/*--section graphic parameters--*/
section{
    background-color: #F2F2F2;
    width: fit-content;
    border-radius: 20px;
    margin: 15px 30px 15px 0px;
    padding: 10px 10px 10px 30px;
    float: left;
}

div section{
    background-color: #FFFFFF;
    padding: 0px;
}
/*-------------*/

/*--footer graphic parameters--*/
.footer {
    background-color: #F2F2F2;
    height: 200px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: flex;
}

.footer div{
    margin: 30px 30px 30px 80px;
    width: 33%;
}
/*---------------------------*/

/*--container parameters to display contents--*/
#container{
    display: flex;
}

.content{
    position: relative;
    margin-left: auto;
    margin-right: 100px;
}
/*--------------------*/

/*--list display parameters--*/
ul{
    display: flex;
    padding-left: 0px;
}

li{
    display: inline;
    margin-left: 30px;
    margin-top: 20px;
}
/*------------------*/

/*--"Hébergements à Marseille" section's parameters--*/
#hebergements{
    width: fit-content;
    max-width: 930px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 30px;
}
  
.heb{
    width: 280px;
    height: 200px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    background-size: cover;
    border: 6px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.heb-desc{
    background-color: #FFFFFF;
    width: 265px;
    height: 70px;
    margin-top: -100px;
    border-radius: 0px 0px 20px 20px;
    padding: 5px 0px 5px 15px;
}
/*------------------------------*/

/*--"Les plus populaires" section's parameters--*/
#populaires{
    width: fit-content;
    max-width: 400px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
}
  
.pop{
    width: 320px;
    height: 143px;
    background-repeat: no-repeat;
    background-position: -60%;
    background-size: 70%;
    border: 6px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    margin:  0px 30px 15px 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.pop-desc{
    background-color: #FFFFFF;
    width: 170px;
    height: 130px;
    margin-left: 130px;
    margin-top: -155px;
    margin-bottom: 28.5px;
    border-radius: 0px 20px 20px 0px;
    padding: 5px 0px 5px 15px;
}
/*------------------------------*/

/*--"Activités à Marseille" section's parameters--*/
#activites{
    width: 1350px;
    max-height: 520px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    gap: 42px;
    margin-bottom: 60px;
}

@media (max-width: 1500px) {
    #activites{          
        max-height: none;
    }
}

.act{
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.act-desc{
    background-color: #FFFFFF;
    width: 300px;
    height: 50px;
    margin-top: -60px;
    border-radius: 0px 0px 20px 20px;
    padding: 5px 0px 5px 15px;
}
/*------------------------------*/