@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

html {
    scroll-behavior: smooth;
  }

body{
    max-width: 1510px;
    min-width: 334px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

main{
    width: 100%;
	padding: 20px 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

main div{
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 768px){
    main{
        width: 95%;
        padding: 0px;
    }

    main div{
        margin: auto;
    }
}

h1{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 25px;
}

p{
    margin-top: -13px;
    margin-bottom: 18px;
    font-size: 14px;
}

a{
    text-decoration:none;
    color: black;
    position: relative;
}

/*--list display parameters--*/
ul{
    display: flex;
    padding-left: 0px;
}

li{
    display: inline;
    margin-right: 30px;
    margin-top: 20px;
}
/*------------------*/

.bold18{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 25px;
}

.bold16{
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 18px;
}

.flex{
    display: flex;
}

/*--Header parameters--*/
#header{
    width: 95%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
    padding-top: 20px;
    margin: auto;
}

@media (max-width: 768px) {
    #header{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
}
/*--------------------*/

.logo{
    width: 110px;
    padding-left: 40px;
}

@media (max-width: 768px) {
    .logo{          
        position: relative;
        margin: auto;
        padding-left: 35px;
    }
}

/*--nav parameters--*/
.nav{
    margin-top: -48px;
}

@media (max-width: 768px) {
    .nav{          
        position: relative;
        justify-content: center;
        margin-right: 0px;
    }
}

nav ul{
    margin: auto;
    display: flex;
}

@media (max-width: 768px) {
    nav ul{       
        justify-content: center;
    }
}

nav li{
    margin: 30px 0px 0px 0px;
    padding: 30px 30px 30px 30px;
}

nav a:hover{
    border-top: 4px solid #0065FC;
    margin: -2px -30px -30px -30px;
    padding: 28px 30px 30px 30px;
    color: #0065FC;
}

@media (max-width: 768px){
    nav li{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }

    nav a{
        border-bottom: 4px solid #F2F2F2;
        padding-bottom: 10px;
        margin: -2px -30px -30px -30px;
        padding: 15px 30px 15px 30px;
    }

    nav a:hover{
        border-top: none;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 4px solid #0065FC;
    }
}
/*------------------*/
@media (max-width: 768px){
    .menu{
        padding: 10px;
    }
}

/*--Form parameters--*/
form{
    width: fit-content;
    border-radius: 12px;
    display: flex;
}

input[type=search]{
    height: 46px;
    width: 270px;
    border: 1px solid #F2F2F2; 
    padding-left: 20px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

form i{
    background-color: #F2F2F2;
    padding: 13px 18px 10px 18px;
    font-size: 18px;
    border-radius: 12px 0px 0px 12px;
}

::placeholder{
    color: #000;
    font-weight: 700;
    font-size: 16px;
    opacity: 1;
}

.no-outline:focus{
    outline: none;
}

form button{
    background-color: #0065FC;
    width: fit-content;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -10px;
    border: none;
    border-radius: 0px 12px 12px 0px;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 768px){
    form{
        width: 100%;
    }

    form button{
        width: 45px;
        border-radius: 12px;
    }

    input[type=search]{
        width: 95%;
    }

    .search {
        text-indent: -9999px;
        line-height: 0;
    }

    .search::after {
        font-family: "Font Awesome 5 Free";
        content: "\f002";
        text-indent: 0;
        display: block;
        line-height: initial;
      }
}
/*-----------------*/

/*--Filtres parameters--*/
#filtres{
    width: fit-content;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

#filtres p{
    margin-top: 18px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#filtres div{
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filtre{
    width: fit-content;
    padding: 12px 15px 12px 55px;
    border: 2px solid #F2F2F2;
    border-radius: 45px;
}

@media (max-width: 768px){
    #filtres{
        height: fit-content;
    }

    #filtres div{
        margin-right: 10px;
        margin-left: 0px;
    }

    #filtres p{
        margin-right: 100%;
        margin-bottom: 15px;
    }

    .filtre{
        font-size: 16px;
    }
}

.filtre:hover{
    border-color: #0065FC;
}
/*--------------------*/

#reversable{
    display: flex;
}

@media (max-width: 992px){
    #reversable{
        flex-direction: column-reverse;
        width: 100%;
    }
}

/*--section graphic parameters--*/
section{
    width: fit-content;
    border-radius: 20px;
    margin: 15px 30px 15px 0px;
    padding: 10px 10px 10px 30px;
    float: left;
}

.sec1{
    background-color: #F2F2F2;
}

.sec2{
    background-color: #F2F2F2;
}

.sec3{
    padding-left: 0px;
}

@media (max-width: 768px) {

    #phone-sec{
        width: 99.6%;
        max-width: 768px;
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    section{
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 20px;
    }

    .sec1{
        background-color: #FFFFFF;
        padding-right: 35px;
    }

    .sec2{
        border-radius: 0;
    }

    .sec3{
        padding-left: 30px;
    }

    #pop-phone{
        display: flex;
        width: 100%;
        background-color: #F2F2F2;
        margin: auto;
    }

    #act-phone{
        display: flex;
        width: 100%;
        margin: auto;
    }
}
/*-------------*/

/*--"Hébergements à Marseille" section's parameters--*/
#hebergements{
    width: fit-content;
    max-width: 920px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 30px;
    justify-content: left;
}
  
.heb{
    width: 280px;
    height: 200px;
    border: 6px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.heb-desc{
    background-color: #FFFFFF;
    width: 265px;
    height: 70px;
    margin-top: -80px;
    border-radius: 0px 0px 20px 20px;
    padding: 5px 0px 5px 15px;
    position: absolute;
    z-index: 0;
}

.heb img{
    object-fit: cover;
    width: 100%;
    height: 62%;
    border-radius: 15px 15px 0px 0px;
}
/*------------------------------*/

/*--"Les plus populaires" section's parameters--*/
#populaires{
    width: fit-content;
    max-width: 355px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 4px;
}
  
.pop{
    width: 335px;
    height: 143px;
    border: 6px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    margin:  0px 30px 15px 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.pop-desc{
    background-color: #FFFFFF;
    width: 180px;
    height: 130px;
    margin-left: 135px;
    margin-top: -155px;
    border-radius: 0px 20px 20px 0px;
    padding: 5px 0px 5px 15px;
    position: absolute;
    z-index: 0;
}

.pop img{
    object-fit: cover;
    width: 50%;
    height: 100%;
    border-radius: 15px;
}
/*------------------------------*/

/*--"Activités à Marseille" section's parameters--*/
#activites{
    width: 100%;
    max-height: 520px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    gap: 42px;
    margin-bottom: 60px;
}

.act{
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.act-desc{
    background-color: #FFFFFF;
    width: 300px;
    height: 50px;
    margin-top: -60px;
    border-radius: 0px 0px 20px 20px;
    padding: 5px 0px 5px 15px;
    position: absolute;
    z-index: 0;
}

.act-desc h2{
    margin-top: 18px;
}

.act img{
    object-fit: cover;
    border-radius: 20px;
}

.t1{
    width: 315px;
    height: 468px;
}
.t2{
    width: 315px;
    height: 243px;
}
.t3{
    width: 315px;
    height: 226px;
}
.t4{ 
    width: 315px;
    height: 196px;
}
.t5{
    width: 315px;
    height: 179px;
}
/*------------------------------*/
@media (max-width: 1494px) {
    #activites{          
        max-height: 1000px;
    }
}

@media (max-width: 992px) {
    #populaires{          
        flex-direction: row;
        max-width: none;
    }
}
@media (max-width: 768px){
    #hebergements{
        flex-direction: column;
    }
    .heb{
        width: 335px;
        height: 200px;
        border: 6px solid #FFFFFF;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .heb-desc{
        width: 320px;
        height: 70px;
        margin-top: -98px;
    }

    #populaires{
        flex-direction: column;
    }

    #activites{
        width: fit-content;
        max-height: none;
        margin-left: 0px;
    }

    .act{
        width: 332px;
        height: 212px;
        border-radius: 20px;
        box-sizing: border-box;
        margin:  0px 30px 15px 0px;
    }

    .act-desc{
        width: 317px;
        height: 70px;
        margin-top: -95px;
    }

    .t1, .t2, .t3, .t4, .t5{
        width: 332px;
        height: 212px;
    }
}

/*--icons--*/
.filtre-icon{
    position: absolute;
    width: 21px;
    height: 18px;
    padding: 15px 13px 15px 13px;
    background-color: #DEEBFF;
    font-size: 18px;
    color: #0065FC;
    border-radius: 45px;
    margin-right: -51px;
    margin-top: -13px;
    text-align: center;
}

.circle-info{
    padding: 4px 8px 4px 8px;
    color: #0065FC;
    font-size: 12px; background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
}

.blue{
    color: #0065FC;
    font-size: 12px;
}

.grey{
    color: #F2F2F2;
    font-size: 12px;
}

.chart{
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 25px;
}

@media (max-width: 768px) {
    .filtre-icon{
        height: 16px;
        margin-top: -12px;
    }

    .chart{
        margin-left: 85px;
    }
}
/*------------------*/

/*--footer graphic parameters--*/
.footer {
    background-color: #F2F2F2;
    height: 200px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: flex;
}

.footer div{
    margin: 40px 30px 30px 80px;
    width: 33%;
}

footer p{
    margin-top: auto;
    margin-bottom: 12px;
}

@media (max-width: 768px){
    .footer{
        flex-direction: column;
        height: fit-content;
        min-width: 450px;
    }
}
/*---------------------------*/